[submodule "ADA_1042_AQ1_SB_CartaoService_MSUSUARIO"]
	path = ADA_1042_AQ1_SB_CartaoService_MSUSUARIO
	url = https://github.com/ecureuill/ADA_1042_AQ1_SB_CartaoService_MSUSUARIO.git
[submodule "ADA_1042_AQ1_SB_CartaoService_MSFINANCEIRO"]
	path = ADA_1042_AQ1_SB_CartaoService_MSFINANCEIRO
	url = https://github.com/ecureuill/ADA_1042_AQ1_SB_CartaoService_MSFINANCEIRO.git
[submodule "ADA_1042_AQ1_SB_CartaoService_MSCOMPRA"]
	path = ADA_1042_AQ1_SB_CartaoService_MSCOMPRA
	url = https://github.com/ecureuill/ADA_1042_AQ1_SB_CartaoService_MSCOMPRA.git
	branch = main
[submodule "ADA_1042_AQ1_SB_CartaoService_MSNOTIFICACAO"]
	path = ADA_1042_AQ1_SB_CartaoService_MSNOTIFICACAO
	url = https://github.com/ecureuill/ADA_1042_AQ1_SB_CartaoService_MSNOTIFICACAO.git
